.Chat-main
  .Chat-main__group-info
    .info__name
      .info__name__group 
        = @group.name
      .info__name__member Member:
      - @group.users.each do |user|
        = user.name
    .info__btn 
      = link_to edit_group_path(params[:group_id]), class: "edit__btn" do
        Edit
  .Chat-main__Message-list
    = render @messages
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "form-contents"}, local: true do |f|
      .Form__inputBox
        = f.text_field :content, class: 'text-form', placeholder: 'type a message'
        = f.label :image, class: 'parent' do
          = icon('far', 'image', class: "text-icon")
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'