.Side-bar
  .Side-bar__user-name
    .top-items
      .Top-items__name
        = current_user.name
      .Top-items__icons
        = link_to new_group_path(current_user),class: "Top-items__btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user),class: "Top-items__btn" do
          = icon('fas', 'cog')
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Groups
        = link_to '#' do
          .GroupName
            = group.name
          .GroupMessage
            メッセージはまだありません